/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}


.diamond {
  width: 80%;
  height: 80%;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  transform: rotate(45deg);
  border-radius: 15%; /* 调整此值以改变圆润程度 */
}

.diamond img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 60%; /* 调整图片位置 */
  transform: rotate(-45deg);
}
